@import "../../theme/variables";
.globalSearchInput {
  border: none;
  max-width: 380px;
  input {
    height: 40px !important;
    width: "auto";
    flex-grow: 1;
    &::placeholder {
      color: $brown-300;
    }
  }
  &.mobileSearch {
    border: 1px solid !important;
    padding: 0 16px;
    max-width: 100% !important;
  }
}

.globalAutoComplete {
  flex-grow: 1;
  max-width: 380px;
  height: 40px !important;
  &.mobileAutoComplete {
    max-width: 100%;
  }
}

.searchText {
  padding: 1rem 0;
  font-size: 13px;
}

.headerIcon {
  svg {
    height: 24px;
    width: 24px;
  }
}

.autoSearchButton {
  background: inherit;
  border: 0;
  box-shadow: none;
}

.autoSearchBadge {
  padding: 0 5px;
}
