@import "./variables";

.course-card {
  position: relative;
  &.large-card {
    .ant-image-img {
      border-radius: 50px;
    }
    .card-primary-title {
      font-family: $font-roboto-slab;
      font-size: 3.5rem;
      font-weight: 900;
      padding: 1rem 0;
    }
  }
  &.small-card {
    border-radius: 32px;
  }
  .ant-image-img {
    border-radius: 40px;
  }

  .card-bottom-wrapper {
    display: flex;
    flex-flow: column;
    text-align: left;
    padding-top: 1.5rem;
    .card-bottom-title {
      font-size: 1.5rem;
      font-weight: 900;
    }
  }

  .card-overlay-wrapper {
    position: absolute;
    top: 0;
    padding: 1.5rem;
    color: $white;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 61.16%, #000 100%);
    border-radius: 32px;
    width: 100%;
    text-align: left;

    .card-chip {
      border-radius: 4px;
      background: $primary;
      text-transform: uppercase;
      padding: .5rem .75rem;
      font-size: 1rem;
    }

    .card-course-title {
      font-size: 1rem;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

/********************************/
/** Media Query Styles **/

@media screen and (max-width: $md) { 
  .course-card {
    &.large-card {
      .ant-image-img {
        border-radius: 32px;
      }

      .card-primary-title {
        font-size: 2.5rem;
        font-family: $font-roboto-slab;
      }
    }
    &.small-card {
      border-radius: 24px;
    }
    .ant-image-img {
      border-radius: 28px;
    }

    .card-overlay-wrapper {
      border-radius: 24px;
     }
   }
}