@import "./variables";

.grid-card-container {
  margin: 2.5rem 0;
  max-width: 100%;
  height: 100%;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.course-card {
  flex: 1;
  cursor: pointer;
  position: relative;
  &.large-card {
    .ant-image-img {
      border-radius: 50px;
    }
    .card-primary-title {
      font-family: $font-roboto-slab;
      font-size: 3.5rem;
      font-weight: 900;
      padding: 1rem 0;
    }
  }
  &.small-card {
    border-radius: 32px;
  }
  .ant-image-img {
    border-radius: 40px;
  }

  .card-bottom-wrapper {
    display: flex;
    flex-flow: column;
    text-align: left;
    padding-top: 1.5rem;
    .card-bottom-title {
      font-size: 1.5rem;
      font-weight: 900;
    }
  }

  .card-overlay-wrapper {
    position: absolute;
    top: 0;
    padding: 1.5rem;
    color: $white;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 61.16%, #000 100%);
    border-radius: 32px;
    width: 100%;
    text-align: left;

    .card-chip {
      border-radius: 4px;
      background: $primary;
      text-transform: uppercase;
      padding: 0.5rem 0.75rem;
      font-size: 0.625rem;
    }

    .card-course-title {
      font-size: 1rem;
      font-weight: 500;
      text-transform: uppercase;
      padding-bottom: 10px;
    }
  }
}

.explore-card:hover {
  transform: scale(1.01);
  z-index: 1;
  transition: all 0.3s ease-in;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/********************************/
/** Media Query Styles **/

@media screen and (min-width: $xs) and (max-width: $md) {
  .grid-card-container {
    gap: 1rem;
  }
}

@media screen and (min-width: $md) and (max-width: $xl) {
  .grid-card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: $xl) {
  .grid-card-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: $lg) and (max-width: $xl) {
  .grid-card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: $md) {
  .course-card {
    &.large-card {
      .ant-image-img {
        border-radius: 32px;
      }

      .card-primary-title {
        font-size: 2.5rem;
        font-family: $font-roboto-slab;
      }
    }
    &.small-card {
      border-radius: 24px;
    }
    .ant-image-img {
      border-radius: 28px;
    }

    .card-overlay-wrapper {
      border-radius: 24px;

      .card-course-title {
        padding-bottom: 8px;
      }
    }
  }
}

@media screen and (max-width: $sm) {
  .course-card .ant-image-img {
    border-radius: 18px !important;
  }

  .card-overlay-wrapper {
    border-radius: 16px !important;
  }
}
