// Font Variables

$font-roboto-slab: 'Roboto Slab';
$font-ubuntu: 'Ubuntu';

// Theme Variables

$white: #FFFFFF;
$black: #000000;

$primary: #1E90FF;
$secondary: #E5E5EC;

$brown: #4a4a4a;
$brown-100: #2A2A2A;
$brown-200: #CDCDCD;
$brown-300: #6A6A6A;

$grey-100: #F9F9F9;

$green: #70C800;
$green-100: #2BCF03;
$green-200: #52c41a;

$purple: #722ed1;
$purple-100: #A40CEC;

$red: #ff4d4f;

// Breakpoints variables

$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;

