// Font Variables

$font-roboto-slab: 'Roboto Slab';
$font-ubuntu: 'Ubuntu';

// Theme Variables

$white: #FFFFFF;
$black: #000000;

$primary: #1E90FF;
$secondary: #E5E5EC;

$brown: #4a4a4a;
$brown-100: #2A2A2A;
$brown-200: #CDCDCD;

// Breakpoints variables

$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;

