@import "../../theme/variables";

.checkoutWrapper {
  padding: 4rem 2.5rem;

  .checkoutCourseContainer {
    border-radius: 20px !important;
    padding: 2.5rem 1rem;
    background: rgba(255, 255, 255, 0.7);
    margin: 0 2rem;
  }

  .divider {
    stroke-width: 1px;
    border-block-start: 1px solid $brown;
  }

  .totalWrapper {
    justify-content: end;
    font-weight: 700;
    font-size: 0.875rem;
    text-align: left;

    td:nth-child(1) {
      text-align: right;
    }

    td {
      padding: 0.25rem 0.5rem;
    }

    .totalText {
      font-size: 1.2rem;
    }
  }

  .couponCodeWrapper {
    gap: 1rem;
    padding: 2.5rem 0;
    input {
      border: 1px dashed $green-100;
      border-radius: 15px !important;
      max-width: 280px;
      background: $white;
    }
    button {
      padding: 0;
      border: 0;
      text-decoration: underline;
      text-transform: uppercase;
      font-size: 0.875rem;
      background: inherit;
      box-shadow: none;
    }
  }
}

.billingFormWrapper {
  padding: 0 1rem;

  .formSubmitBtn {
    margin: 1rem 0;
    text-transform: uppercase;
    width: fit-content;
    border: 1px solid;
    background: inherit;
  }

  :global {
    label::before,
    label::after {
      display: none !important;
    }

    label {
      padding: 0.5rem;
    }

    .ant-form-item-control-input-content {
      .ant-input,
      .ant-input-number,
      .ant-select {
        height: 44px !important;
        border-radius: 15px !important;
        background: $grey-100;
        font-size: 12px;
        border: 0;
      }

      .ant-select {
        .ant-select-selection-placeholder {
          font-size: 12px;
          color: $brown-300;
        }

        .ant-select-selector {
          border-radius: 15px !important;
          border: 0 !important;
          padding: 0.5rem !important;

          .ant-select-selection-item {
            font-size: 12px;
            font-weight: normal !important;
          }
        }
      }

      textarea.ant-input {
        height: auto !important;
      }
    }
  }

  :global {
    .ant-collapse-header {
      align-items: center !important;
    }

    #billingForm {
      display: flex;
      flex-flow: column;
      gap: 1rem;
      padding: 1rem 0;

      :global {
        label::before,
        label::after {
          display: none !important;
        }

        .ant-form-item-label {
          display: flex;
          align-items: baseline;
          width: 80px;
        }
      }

      .ant-select {
        min-width: 100px;
      }

      .ant-select-selector {
        background: $white !important;
        border: 0 !important;
      }
    }

    .ant-form-item-row {
      display: flex;
      align-items: center;
      gap: 1rem;

      .ant-form-item-label {
        label {
          font-weight: 600;
          &::after {
            display: none;
          }
        }
      }
    }

    .ant-form-item-control-input-content {
      flex-flow: row wrap;
      display: flex;
      gap: 1rem;

      .ant-form-item:nth-child(1) {
        flex: 1;
      }
    }
  }
  .billingHeader {
    font-size: 2rem;
    font-weight: 700;
    gap: 1rem;
    font-family: $font-ubuntu;
  }
}

@media only screen and (max-width: $md) {
  .checkoutCourseContainer {
    border-radius: 16px !important;
  }

  .totalWrapper {
    font-size: 1rem !important;
  }

  td {
    padding: 0.125rem 0.35rem !important;
  }

  .couponCodeWrapper {
    input {
      max-width: 180px !important;
    }
  }

  .billingFormWrapper {
    :global {
      .ant-form-item-row {
        gap: 0 !important;
      }
    }
  }
}

.city {
  :global {
    .ant-form-item-label {
      width: auto !important;
    }
  }
}

.stepDisabled {
  pointer-events: none;
  opacity: 0.8;
}

.modalWrapper {
  gap: 1rem;
  padding: 0 1rem;
  text-align: center;

  h2 {
    font-family: $font-roboto-slab;
    font-size: 1.5rem;
    color: $primary;
  }
}

@media only screen and (max-width: $lg) {
  .checkoutCourseContainer {
    margin: 0 !important;
  }

  .billingFormWrapper {
    padding: 0 1rem 2.5rem;
  }
}
