@import "../../theme/variables.scss";

.header {
  background: $secondary;
  padding: 0 2rem 5rem;
  position: fixed;
  z-index: 99;
  width: 100%;
}

.logoWrapper {
  display: inline-flex;
  flex: 1;

  img {
    height: 38px !important;
    width: 144px !important;
    object-fit: contain;
  }
}

.linkButton {
  font-family: $font-roboto-slab !important;
  span {
    font-size: 1.2rem !important;
  }
}

.menuBtn {
  padding: 0 !important;
  font-size: 2.5rem !important;
  span {
    font-size: 2.5rem !important;
  }
}

.mobileLoginBtn {
  height: 32px !important;
  font-size: 1rem !important;
}

.menu {
  text-align: center;
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-inline-end: 0 !important;
  gap: 1.5rem;
}

.drawerMenuBtn {
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  text-transform: uppercase;
}

.loginBtn {
  font-size: 1rem !important;
  height: auto;
  text-transform: uppercase;
}

.cartIcon,
.userIcon {
  height: 24px;
  width: 24px;
}

.userDropdownWrapper {
  gap: 0.5rem;
  align-items: center;

  .userName {
    gap: 0.5rem;
    svg {
      font-size: 15px;
    }
  }
}

.userDropdown {
  button {
    font-size: 1rem !important;
    height: auto !important;
    font-family: $font-ubuntu !important;
  }
}

// Media queries

@media screen and (max-width: $lg) {
  .header {
    padding: 0rem 2rem 5.5rem;
  }
}

@media screen and (max-width: $md) {
  .header {
    padding: 0rem 2rem 6.5rem;
  }
}

@media screen and (min-width: $lg) {
  .logoWrapper img {
    height: 56px !important;
  }
}

@media screen and (max-width: $sm) {
  .logoWrapper img {
    height: 36px !important;
    width: 100px !important;
  }

  .header {
    padding: 0rem 2rem 7rem;
  }
}
