@import "./theme/variables";

:root {
  background: $secondary;
  font-family: $font-ubuntu, serif;
  font-size: 16px;
  font-weight: 500;
  color: $brown-100;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: $font-ubuntu, serif;
}

body,
p {
  margin: 0;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.text-center {
  text-align: center;
}

.standard-font-bold {
  font-size: 1.5rem;
}

/* ================================================================= */
/** Styles for theme specific styles */

.font-bold {
  font-weight: 700;
}

.color-primary {
  color: $primary;
}

.color-white {
  color: $white;
}

.main-header {
  font-size: 4.25rem;
}

.sub-header {
  font-size: 1.5rem;
}

.font-default {
  font-size: 1rem;
}

.position-relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.left-curve,
.right-curve {
  position: absolute;
}

.left-curve {
  top: 0;
  left: 0;
}

.right-curve {
  bottom: 0;
  right: 0;
}

/* ================================================================= */
/* Media Queries */

@media only screen and (min-width: $xs) {
  :root {
    font-size: 8px;
  }

  .ant-btn,
  .ant-input,
  .ant-select,
  .button {
    height: 40px !important;
  }
}

/* Small devices such as large phones (576px and up) */
@media only screen and (min-width: $sm) {
  :root {
    font-size: 10px;
  }

  .ant-btn,
  .ant-input,
  .ant-select,
  .button {
    height: 44px !important;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: $md) {
  :root {
    font-size: 12px;
  }

  .ant-btn,
  .ant-input,
  .ant-select,
  .button {
    height: 48px !important;
  }

  .standard-font-bold {
    font-size: 1.3rem;
  }
}

/* Large devices such as laptops (992px and up) */
@media only screen and (min-width: $lg) {
  :root {
    font-size: 14px;
  }

  .ant-btn,
  .ant-input,
  .ant-select,
  .button {
    height: 52px !important;
  }
}

/* Largest devices such as desktops (1200px and up) */
@media only screen and (min-width: $xl) {
  :root {
    font-size: 16px;
  }

  .ant-btn,
  .ant-input,
  .ant-select,
  .button {
    height: 56px !important;
  }
}

/* ================================================================= */
/* Ant style overrides */

// Button overrides

.ant-btn {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0.875rem 3.5rem;
  display: flex;
  align-items: center;
}

.ant-btn-link {
  color: $black;
  font-family: $font-roboto-slab !important;
  font-weight: 400;
  padding: 0;

  span {
    font-family: inherit !important;
  }
}

.ant-btn-primary {
  background: $primary;
}

.slick-dots {
  bottom: 16px !important;
  li {
    &.slick-active {
      button {
        background: $primary !important;
      }
    }
    button {
      border-radius: 50% !important;
      background: $white !important;
      opacity: 1 !important;
    }
  }
}

.modal-container {
  .ant-btn,
  .ant-input,
  .ant-select {
    height: 44px !important;

    .ant-select-selection-placeholder {
      font-size: 14px;
      text-align: left;
    }

    .ant-select-selector {
      border: 1px solid $black !important;
      padding: 0 11px !important;
    }
  }
}


.ant-input,
.ant-input-affix-wrapper {
  border-radius: 100px !important;
}

.ant-input-prefix {
  padding: 0 0.5rem 0 1.5rem;
}

.ant-input-affix-wrapper {
  padding: 0;
}

.ant-select {
  .ant-select-selector {
    border-radius: 100px !important;
    background: inherit !important;
    border: 2px solid $primary !important;
    padding: 0 1.5rem !important;
    font-size: 1.5rem;
  }
}

.primary-container {
  .ant-select-selection-placeholder,
  .ant-select-arrow,
  .ant-select-selection-item {
    color: $primary !important;
    font-weight: 700 !important;
  }

  .ant-select-dropdown {
    .rc-virtual-list {
      .rc-virtual-list-holder-inner {
        background: $black !important;
      }
    }
  }

  .ant-input-affix-wrapper {
    padding: 0;
    border: 0;
    background: $brown;
  }

  .ant-input {
    background: $brown;
    color: $brown-200;
    border: 0;
    font-size: 1.125rem !important;
    &::placeholder {
      color: $brown-200;
    }
  }
}

.button {
  padding: 0.75rem 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  width: fit-content;
  border-radius: 100px;
  border: 0;

  &.primary-button {
    background: $primary;
    color: $white;
  }
}

.active {
  color: $primary;
}

// Media queries

@media screen and (max-width: $md) {
  .button,
  .ant-btn {
    height: 32px !important;
    font-size: 1rem;
  }
}
