@import "../../theme/variables";

.titleWrapper {
    padding: 4rem 2.5rem;
    .titleContent {
      width: fit-content;
      margin: auto;
      padding: 2rem 3.5rem;
      position: relative;
    }
    .subHeader {
      padding-top: 1.25rem;
    }

    .mainCardWrapper {
      margin-top: 2.5rem;
    }
  }

  .exploreWrapper {

    .exploreSearchWrapper {
      padding-top: 2.5rem;
    }
  }

  .topicText {
    font-weight: 700;
    color: $brown-100;
    padding-bottom: 1.5rem;
  }

  .courseBannerContainer {

    .courseTitle, .courseSubTitle {
        font-weight: 700;
    }

    .courseTitle {
        font-size: 2.5rem;
        font-family: $font-roboto-slab;
    }
    .courseSubTitle { 
        font-size: 1.5rem;
    }
  }

  .outlineBtn {
    font-size: 1rem !important;
    text-transform: uppercase;
    border: 1px solid $brown-300;
    background: inherit
  }

  .courseWrapper {
    :global {
      .ant-picker {
        background: transparent;
        border-radius: 100px;
        border: 2px solid $brown;
        width: 160px;
  
        &.active {
          background: $brown;
          color: $white;
  
          input,
          input::placeholder,
          .ant-picker-suffix {
            color: $white !important;
          }
  
          .ant-picker-clear {
            background: $white;
          }
        }
  
        input,
        input::placeholder,
        .ant-picker-suffix {
          color: $brown;
          font-size: 1.5rem;
          font-weight: 700;
        }
  
        .ant-picker-clear {
          background: $black;
          .anticon-close-circle {
            color: $brown;
          }
        }
      }
    }
  }

  @media screen and (max-width: $md) {
    .outlineBtn {
      font-size: 1.4rem !important;
    }
  }
  
  @media screen and (max-width: $sm) {
    .outlineBtn {
      font-size: 1.2rem !important;
    }
  }